<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-site-verification" content="DBVzQPoTNg0ymjqseZQPtgUjRI53Zy93iLjQM0a-sM4" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="CODISHER" />
<meta property="og:description" content="Give Best Start To Your Career" />
<meta property="og:url" content="https://codisher.com/" />
<meta property="og:image" content="https://thinkwht.com/public/images/twnewlogo2.png" />
<title>CODISHER</title>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="./public/images/twfavicon.jpg">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
<!-- Axios CDN -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<link rel="stylesheet" href="../assets/style.css" />
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  </head>
<style>
  
  .animate-slide-in-right {
        animation: slide-in-right 1s ease-out;
    }

    @keyframes slide-in-right {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    

    .animate-slide-in-left {
        animation: slide-in-left 1s ease-out;
    }

    @keyframes slide-in-left {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(100%);
        }
    }
  </style>
  <body>   
    <header>
      <nav class="relative">
          <div class="font-lato flex items-center justify-between lg:px-10 px-5  py-2 shadow-md">
              <!--Logo-->
              <div>
                  <a href="/">
                      <img src="../public/images/twlogo.svg" class="w-[4rem]">
                  </a>
              </div>
              <!--Searchbox-->
              <div>
                  <div
                      class="lg:flex hidden space-x-2  w-fit  px-5 py-2 rounded-full shadow-[2px_5px_2px_2px_#4F2D5E] justify-around">
                      <img src="../public/images/searchicon.svg" class="w-4">
                      <input type="text" placeholder="Search"
                          class="font-inter text-[.875rem] text-[#275473] outline-none w-[70%] " id="search">
                  </div>
              </div>
              <div class="flex items-center gap-[6rem]">
                  <!--NaavList-->
                  <div>
                      <div class="lg:flex hidden flex-row space-x-5 items-center">
                          
                       <a>
                         <div>
                          <p>Home</p>
                         </div>
                       </a>
                       <a>
                        <div>
                         <p>About</p>
                        </div>
                      </a>
                      <a>
                        <div>
                         <p>Contact</p>
                        </div>
                      </a>
                      <a>
                        <div>
                         <p>Blogs</p>
                        </div>
                      </a>
                      </div>
                  </div>


                  <div id="profile_section" class="cursor-pointer">

                  </div>
              </div>



              <div class="w-fit absolute bg-white top-0 z-[1000] right-0 border-[1px] border-gray-400 pb-10 space-y-5 shadow-[2px_2px_2px_2px_black] hidden"
                  id="profile_div">
                  <div class="flex justify-between p-5 ">
                      <p class="text-[#275473] text-2xl font-bold font-inter"><span
                              class="lg:flex hidden">Profile</span><span class="lg:hidden flex">Menu</span></p>
                      <p class="text-2xl font-extrabold cursor-pointer" id="close_profile">X</p>
                  </div>
                  <div class="bg-gray-700 p-[0.5px] h-[0.5px]"></div>
                  <div class="flex items-center justify-around px-10 space-x-5 py-2" id="user_profile">
                      <div class="bg-[#FFB656] p-2 rounded-full w-fit">
                          <i class="text-[#FFB656]"><img src="../public/images/user_icon.png" class="h-10 w-10"></i>
                      </div>
                      <div class="">
                          <p class="text-2xl text-[#275473] font-bold font-inter"><span id="user_name"></span></p>
                          <p class="text-[#2274ACC2] text-lg font-inter"><span id="user_email"></span></p>
                      </div>
                  </div>
                  <div class="mx-auto w-fit flex flex-col justify-center  space-y-7 p-5">
                      <div class="w-fit flex flex-col justify-center space-y-5 lg:hidden">
                          <a href="/">
                              <div class="flex space-x-5">
                                  <p class="text-[#2274ACC2] font-inter text-2xl">Home</p>
                              </div>
                          </a>
                          <a href="/about">
                              <div class="flex space-x-5">
                                
                                  <p class="text-[#2274ACC2] font-inter text-2xl">About</p>
                              </div>
                          </a>
                          <a href="/contact">
                            <div class="flex space-x-5">
                
                                <p class="text-[#2274ACC2] font-inter text-2xl">Contact</p>
                            </div>
                        </a>
                      </div>
                      <div class="w-fit flex flex-col justify-center space-y-5">
                          <div class="flex space-x-5 cursor-pointer" onclick="redirect_internship_page()">
                              <p class="text-[#2274ACC2] font-inter text-2xl">Enrolled Internships</p>
                          </div>
                      <a href="/contact">
                        <div class="flex space-x-5">
            
                            <p class="text-[#2274ACC2] font-inter text-2xl">Enrolled Courses</p>
                        </div>
                    </a>
                      </div>
                  </div>
                  <div id="in_out_section">

                  </div>

              </div>
         
      </nav>

  </header>
 
    <script>



        // search functionality
        const search = () => {
          let filter = document.getElementById("search").value.toUpperCase();

          switch (filter) {
            case "UI/UX":
              window.location.href = "/course/uiux";
              break;
            case "UI":
              window.location.href = "/course/uiux";
              break;
            case "UX":
              window.location.href = "/course/uiux";
              break;
            case "WEB DEVELOPMENT":
              window.location.href = "/course/frontend";
              break;
            case "WEB DEV":
              window.location.href = "/course/frontend";
              break;
            case "WEBDEV":
              window.location.href = "/course/frontend";
              break;
            case "FRONTEND DEVELOPMENT":
              window.location.href = "/course/frontend";
              break;
            case "FRONTEND":
              window.location.href = "/course/frontend";
              break;
            case "FRONT END":
              window.location.href = "/course/frontend";
              break;
            case "BACKEND END":
              window.location.href = "/course/backend";
              break;
            case "BACKEND DEVELOPMENT":
              window.location.href = "/course/backend";
              break;
            case "BACKEND DEV":
              window.location.href = "/course/backend";
              break;
            case "BACKEND":
              window.location.href = "/course/backend";
              break;
            case "APP DEVELOPMENT":
              window.location.href = "/course/flutter";
              break;
            case "FLUTTER DEVELOPMENT":
              window.location.href = "/course/flutter";
              break;
            case "FLUTTER":
              window.location.href = "/course/flutter";
              break;
            case "FLUTTER DEV":
              window.location.href = "/course/flutter";
              break;
            case "DSA":
              window.location.href = "/course/dsa";
              break;
            case "DATA STRUCTURES AND ALGORITHMS":
              window.location.href = "/course/dsa";
              break;
            case "DATA STRUCTURES":
              window.location.href = "/course/dsa";
              break;
            case "ALGORITHMS":
              window.location.href = "/course/dsa";
              break;
            case "CLOUD COMPUTING":
              window.location.href = "/course/cloud";
              break;
            case "CLOUD":
              window.location.href = "/course/cloud";
              break;
            case "GOOGLE CLOUD":
              window.location.href = "/course/cloud";
              break;
            case "ANGULAR":
              window.location.href = "/course/angular";
              break;
            case "ANGULAR DEVELOPMENT":
              window.location.href = "/course/angular";
              break;
            case "ANGULAR DEV":
              window.location.href = "/course/angular";
              break;
            case "ANGULAR JS":
              window.location.href = "/course/angular";
              break;
            case "REACT":
              window.location.href = "/course/react";
              break;
            case "REACT DEVELOPMENT":
              window.location.href = "/course/react";
              break;
            case "REACT DEV":
              window.location.href = "/course/react";
              break;
            case "REACT JS":
              window.location.href = "/course/react";
              break;
            case "REACTJS":
              window.location.href = "/course/react";
              break;
            default:
              alert(
                "not found, try anything like UI/UX, frontend development, etc"
              );
          }
        };

        const searchMob = () => {
          let filterMob = document
            .getElementById("searchMob")
            .value.toUpperCase();

          switch (filterMob) {
            case "UI/UX":
              window.location.href = "/course/uiux";
              break;
            case "UI":
              window.location.href = "/course/uiux";
              break;
            case "UX":
              window.location.href = "/course/uiux";
              break;
            case "WEB DEVELOPMENT":
              window.location.href = "/course/frontend";
              break;
            case "WEB DEV":
              window.location.href = "/course/frontend";
              break;
            case "WEBDEV":
              window.location.href = "/course/frontend";
              break;
            case "FRONTEND DEVELOPMENT":
              window.location.href = "/course/frontend";
              break;
            case "FRONTEND":
              window.location.href = "/course/frontend";
              break;
            case "FRONT END":
              window.location.href = "/course/frontend";
              break;
            case "BACKEND END":
              window.location.href = "/course/backend";
              break;
            case "BACKEND DEVELOPMENT":
              window.location.href = "/course/backend";
              break;
            case "BACKEND DEV":
              window.location.href = "/course/backend";
              break;
            case "BACKEND":
              window.location.href = "/course/backend";
              break;
            case "APP DEVELOPMENT":
              window.location.href = "/course/flutter";
              break;
            case "FLUTTER DEVELOPMENT":
              window.location.href = "/course/flutter";
              break;
            case "FLUTTER":
              window.location.href = "/course/flutter";
              break;
            case "FLUTTER DEV":
              window.location.href = "/course/flutter";
              break;
            case "DSA":
              window.location.href = "/course/dsa";
              break;
            case "DATA STRUCTURES AND ALGORITHMS":
              window.location.href = "/course/dsa";
              break;
            case "DATA STRUCTURES":
              window.location.href = "/course/dsa";
              break;
            case "ALGORITHMS":
              window.location.href = "/course/dsa";
              break;
            case "CLOUD COMPUTING":
              window.location.href = "/course/cloud";
              break;
            case "CLOUD":
              window.location.href = "/course/cloud";
              break;
            case "GOOGLE CLOUD":
              window.location.href = "/course/cloud";
              break;
            case "ANGULAR":
              window.location.href = "/course/angular";
              break;
            case "ANGULAR DEVELOPMENT":
              window.location.href = "/course/angular";
              break;
            case "ANGULAR DEV":
              window.location.href = "/course/angular";
              break;
            case "ANGULAR JS":
              window.location.href = "/course/angular";
              break;
            case "REACT":
              window.location.href = "/course/react";
              break;
            case "REACT DEVELOPMENT":
              window.location.href = "/course/react";
              break;
            case "REACT DEV":
              window.location.href = "/course/react";
              break;
            case "REACT JS":
              window.location.href = "/course/react";
              break;
            case "REACTJS":
              window.location.href = "/course/react";
              break;
            default:
              alert(
                "not found, try anything like UI/UX, frontend development, etc"
              );
          }
        };

        const user_email = decodeURIComponent(document.cookie.split('; ').find(row => row.startsWith('user_email=')))

        function redirect_internship_page()
        {
              if(user_email !== 'undefined')
            {
              const new_user = decodeURIComponent(user_email.split('=')[1]);
              window.location.replace(`/registered_internships/${new_user}`)
            }
            else
            {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please Login to Enroll',
                    footer: '<a href="/login">Login</a>'
                  })
            }
        }
        
        if (user_email !== 'undefined') {
          var hostValue = window.location.hostname;
          var portNumber = window.location.port;
          var currentProtocol = window.location.protocol
            const new_user = decodeURIComponent(user_email.split('=')[1]);
            // Define the URL you want to fetch
            var apiUrl = `${currentProtocol}//${hostValue}:${portNumber}/user_detail?email=${new_user}`;
            let fetchedData;
            document.getElementById('profile_section').innerHTML = `<div id="profile_button"><div class="bg-[#FEB656] p-2 rounded-full lg:flex hidden"><img src="../public/images/user_icon.png" class="h-10 w-10"></div>
                                                                   <div class="lg:hidden flex"><i class="fa fa-bars w3-xlarge"></i></div></div>`

            // Use the fetch API to make a request
            document.getElementById('user_profile').classList.remove('hidden')
            document.getElementById('in_out_section').innerHTML = `
            <a href="/logout">
            <div class="flex border-2 border-gray-800 justify-center items-center  rounded-lg w-[90%] mx-auto">
             <img src="../public/images/logout_icon.svg" class="h-8 w-8">
              <p class="text-lg text-[#275473] font-inter text-[.875rem]">Logout</p>
            </div>
           </a>`
            fetch(apiUrl)
                .then(response => {
                    // Check if the response status is OK (200)
                    if (response.ok) {
                        // Parse the response as JSON
                        return response.json();
                    } else {
                        throw new Error('Failed to fetch data');
                    }
                })
                .then(data => {
                    fetchedData = data;
                    document.getElementById('user_name').innerText = fetchedData.name
                    document.getElementById('user_email').innerText = fetchedData.email
                })
                .catch(error => {
                    console.error('Error:', error);
                });

        }
        else {
            document.getElementById('profile_section').innerHTML = `
                                                                <a href="/login" class="lg:flex hidden">
                                                                <div class=" flex space-x-3 bg-[#532F78] px-4 py-1.5 rounded-lg items-center">
                                                                     <img src="../public/images/LogIn_Icon.svg" class="w-5 h-5">
                                                                                <p class="text-[#fff] text-[.9rem]">Login</p>
                                                                </div>
                                                                </a>
                                                                <div id="profile_button" class="lg:hidden flex">
                                                                <div class=""><i class="fa fa-bars w3-xlarge"></i></div>
                                                             <div>
                                                             `;
            document.getElementById('in_out_section').innerHTML = `<a href="/login" class="lg:hidden flex">
                                                                            <div class="flex border-2 border-gray-800 justify-center items-center  rounded-lg w-[90%] mx-auto">
                                                                                <img src="../public/images/loginicon.svg" class="w-4 h-4">
                                                                                <p class="text-[#275473] text-[.875rem]">Login</p>
                                                                             </div>
                                                                </a>`
            document.getElementById('user_profile').classList.add('hidden')
        }


        const profile_div = document.getElementById('profile_div');
        const profile_button = document.getElementById('profile_button');

        profile_button.addEventListener('click', () => {
            profile_div.classList.remove('hidden'); // Show the div
            profile_div.classList.add('animate-slide-in-right'); // Add the Tailwind CSS class for animation
            // Adjust the duration based on your needs (1 second in this example)
        });


        const close_profile = document.getElementById('close_profile');

        close_profile.addEventListener('click', () => {
            profile_div.classList.remove('animate-slide-in-right');
            profile_div.classList.add('animate-slide-in-left')
            setTimeout(() => {
                profile_div.classList.remove('animate-slide-in-left')
                profile_div.classList.add('hidden');
            }, 980);
        })
     </script>

