<!-- views/certificate.ejs -->
<html>
<head>
    <title>Certificate</title>
    <!-- Include any styles or scripts needed for the certificate -->
    <link rel="stylesheet" href="path/to/certificate-styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    /* certificate-styles.css */
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        text-align: center;
        background-color: aqua;
    }

    p {
        text-align: center;
        background-color: blueviolet;
    }
</style>
<body class="bg-gren-300">
    <h1>Certificate of Completion</h1>
    <p>This is to certify that <%= name %> has successfully completed the course.</p>
    <div id="certificateSection">
        <h1>Certificate of Completion</h1>
        <p>This is to certify that <%= name %> has successfully completed the course.</p>
    </div>
    <img src="../public/images/twnewlogo2.png">
</body>
</html>
