<%-include('partials/header')-%>    
    
    <style>
      .courses-interns-cards img {
        width: 150px;
        height: 150px;
      }

      @media (min-width: 1025px) and (max-width: 1280px) {
        .home-card {
          height: 240px;
          width: 261px;
        }
      }
    </style>




    <section class="bg-header w-full" >
      <div class="hidden h-[60vh] justify-between px-10 py-14 md:flex lg:h-[70vh]" >
        <div class="flex flex-col justify-center items-center gap-14 mt-20" data-aos="fade-right">
          <div class="space-y-10 ml-20">
            <p
              class="color-primary font-extrabold text-2xl md:text-4xl lg:text-5xl"
            >
            We are not just your Educator
            </p>
            <p class="color-primary font-bold text-lg md:text-xl lg:text-2xl">
              We are family !
            </p>
          </div>
        </div>
    
        <div class="flex justify-center items-center mr-12 mt-5" data-aos="fade-left">
          <img
            src="./public/images/educationamico.svg"
            alt="hero-image"
            class="h-64 md:h-72 lg:80"
          />
        </div>
      </div>
      <!--MObile view-->
      <div class="p-2 justify-center flex flex-col text-center gap-10 md:hidden" >
        <div data-aos="fade-up">
          <p class="color-primary font-extrabold text-2xl sm:text-3xl">
            We are not just your Educator
          </p>
          <p class="color-primary font-bold sm:text-lg">
            We are family !
          </p>
        </div>
        <img
          src="./public/images/educationamico.svg"
          alt="hero-image"
          class="h-52"
         data-aos="fade-up"/>
      </div>
    </section>


<!-- educators section -->

    <section id="educators" class="my-16 px-10">
      <p class="text-center text-4xl font-bold color-primary">
        Get to know our Educators
      </p>

      <!-- cards container -->
      <div
        class="w-full flex flex-wrap justify-center items-center gap-10 lg:gap-[122px] my-10"
      >
        <!-- ......cards start below -->
        <div
          class="shadow-2xl p-3 rounded-xl w-[75vw] sm:w-[50vw] md:w-[20rem] lg:w-[314px] lg:h-[370px] lg:p-[39.5px]"
        >
          <a href="/" class="flex flex-col gap-3">
            <img
              class="bg-light h-52 w-full rounded-xl lg:w-[235px] lg:h-[187px]"
              src="../public/images/jitendra.jpeg"
              alt="educator image"
            />
            <div class="mt-5">
              <p class="color-primary font-bold text-2xl">Jitendra Yadav</p>
              <p class="">Software Engineer</p>
              <p class="">HCL</p>
            </div>
          </a>
        </div>
        <div
          class="shadow-2xl p-3 rounded-xl w-[75vw] sm:w-[50vw] md:w-[20rem] lg:w-[314px] lg:h-[370px] lg:p-[39.5px]"
        >
          <a href="/" class="flex flex-col gap-3">
            <img
              class="bg-light h-52 w-full rounded-xl lg:w-[235px] lg:h-[187px]"
              src="../public/images/parvesh.jpeg"
              alt="educator image"
            />
            <div class="mt-5">
              <p class="color-primary font-bold text-2xl">Parvesh Pandey</p>
              <p class="">Flutter Lead Engineer</p>
              
              <p class="">HCL</p>
            </div>
          </a>
        </div>
        <div
          class="shadow-2xl p-3 rounded-xl w-[75vw] sm:w-[50vw] md:w-[20rem] lg:w-[314px] lg:h-[370px] lg:p-[39.5px]"
        >
          <a href="/" class="flex flex-col gap-3">
            <img
              class="bg-light h-52 w-full rounded-xl lg:w-[235px] lg:h-[187px]"
              src="../public/images/ashita.jpeg"
              alt="educator image"
            />
            <div class="mt-5">
              <p class="color-primary font-bold text-2xl">Ashita Vavadia</p>
              <p class="">Flutter Developer</p>
              
              <p class="">ZestBrains</p>
            </div>
          </a>
        </div>
        <div
          class="shadow-2xl p-3 rounded-xl w-[75vw] sm:w-[50vw] md:w-[20rem] lg:w-[314px] lg:h-[370px] lg:p-[39.5px]"
        >
          <a href="/" class="flex flex-col gap-3">
            <img
              class="bg-light h-52 w-full rounded-xl lg:w-[235px] lg:h-[187px]"
              src="../public/images/shefali.jpeg"
              alt="educator image"
            />
            <div class="mt-5">
              <p class="color-primary font-bold text-2xl">Shefali Rathore</p>
              <p class="">Flutter Developer</p>
              
              <p class="">Mindtree</p>
            </div>
          </a>
        </div>
        <div
          class="shadow-2xl p-3 rounded-xl w-[75vw] sm:w-[50vw] md:w-[20rem] lg:w-[314px] lg:h-[370px] lg:p-[39.5px]"
        >
          <a href="/" class="flex flex-col gap-3">
            <img
              class="bg-light h-52 w-full rounded-xl lg:w-[235px] lg:h-[187px]"
              src="../public/images/karan.jpeg"
              alt="educator image"
            />
            <div class="mt-5">
              <p class="color-primary font-bold text-2xl">Karan Singh</p>
              <p class="">Uber</p>
              
              <p class="">SDE</p>
            </div>
          </a>
        </div>
        <div
          class="shadow-2xl p-3 rounded-xl w-[75vw] sm:w-[50vw] md:w-[20rem] lg:w-[314px] lg:h-[370px] lg:p-[39.5px]"
        >
          <a href="/" class="flex flex-col gap-3">
            <img
              class="bg-light h-52 w-full rounded-xl lg:w-[235px] lg:h-[187px]"
              src="../public/images/arvind.jpeg"
              alt="educator image"
            />
            <div class="mt-5">
              <p class="color-primary font-bold text-2xl">Arvind Pandey</p>
              <p class="">Java Developer</p>
              
              <p class="">Natwest Company</p>
            </div>
          </a>
        </div>

        <!-- .............card container ends here........................ -->
      </div>
    </section>

    <%-include('partials/footer')-%>
