<%-include('partials/header')-%>
<form id="signup_form">
<div class="rounded-lg border-2 p-5 w-[80vw] md:w-[60vw] mt-5 md:mt-10 md:w-fit h-fit my-20 mx-auto space-y-5 shadow-lg hover:shadow-2xl">
    <p class="text-xl">Sign Up With A New Account</p>
    
    <a href="/auth/google">
    <div class="rounded border-2 my-5 flex items-center justify-center md:px-28 py-3 space-x-3 cursor-pointer">
        <img class="h-7" src="https://img.icons8.com/color/48/null/google-logo.png" />
        <p>SignIn with Google</p>
    </div>
</a>

    <div class="flex items-center space-x-3">
        <div class="h-[1px] w-full bg-gray-300"></div>
        <p class="text-gray-500">OR</p>
        <div class="h-[1px] w-full bg-gray-300"></div>
    </div>
    <div class="flex flex-col gap-5">
      <div class="flex flex-col gap-1">
        <p class="text-lg">Name</p>
        <input class=" border-2 rounded-sm w-full p-2" name="name" type="text" placeholder="Enter your name" />
      </div>

      <div class="flex flex-col gap-1">
        <p class="text-lg">Email ID</p>
        <input class=" border-2 rounded-sm w-full p-2"  name="email" type="text" placeholder="Enter your email" />
      </div>

      <div class="flex flex-col gap-1">
        <p class="text-lg">Password</p>
        <input class="border-2 rounded-sm w-full p-2" name="password" type="password" placeholder="Enter your password" />
      </div>

      <div class="flex flex-col gap-1">
        <p class="text-lg">Confirm Password</p>
        <input class="border-2 rounded-sm w-full p-2" type="password" name="cpassword" placeholder="Enter confirm password" />
      </div>
    </div>
    <div>
        <button class="bg-primary text-white py-3 w-full rounded space-x-3 text-lg">
            Signup
        </button>
    </div>
    <div class="flex items-center space-x-3">
        <p>Already Registered? </p>
        <a href="/Login">
            <p class="color-light">Login</p>
        </a>
    </div>
</div>
</form>

<!-- footer -->
<%-include('partials/footer')-%>
<!-- Tailwind CSS script-->
</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    $(document).ready(function () {
      $('#signup_form').submit(function (event) {
        event.preventDefault(); // Prevent the default form submission
        // Serialize the form data
        const formData = $(this).serialize();

        // Send an AJAX request to the server
        $.ajax({
          type: 'POST',
          url: '/signup',
          data: formData,
          success: function (response) {
            // Display the success message
            $('#signup_form')[0].reset();
            Swal.fire(response)

            // Optionally, reset the form

          },
          error: function (error) {
            Swal.fire(error.responseText)
          },
        });
      });
    })
    </script>
</html>