
<%-include('partials/header')%>

<form id="login_form">
  <div class="rounded-lg border-2 p-5 w-[80vw] md:w-[60vw] mt-5 md:mt-10 md:mt-0 md:w-fit h-fit my-20 mx-auto space-y-5 shadow-lg hover:shadow-2xl">
      <p class="text-2xl">Login to your account</p>
      <a href="/auth/google">
      <div class="rounded my-5 border-2 flex items-center justify-center md:px-28 py-3 space-x-3 cursor-pointer">
          <img class="h-7" src="https://img.icons8.com/color/48/null/google-logo.png" />
          <p>Login with Google</p>
      </div>
  </a>
      <div class="flex items-center space-x-3">
          <div class="h-[1px] w-full bg-gray-300"></div>
          <p class="text-gray-500">OR</p>
          <div class="h-[1px] w-full bg-gray-300"></div>
      </div>
      <div>
          <p class="text-lg mb-2">Email ID</p>
          <input class="mb-5 border-2 rounded-sm w-full p-2" name="email" type="text" placeholder="Enter your email" />
  
          <p class="text-lg mb-2">Password</p>
          <div class="flex items-center">
          <input class="border-2 rounded-sm w-full p-2" type="password" name="password" placeholder="Enter your password" id="id_password"/>
          <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
          </div>
          
          <div class="flex justify-end">
              <a href="/forgotpassword" class="text-right pt-5 color-light">Forgot Password?</a>
          </div>
      </div>
      <div>
          <button class="bg-primary text-white py-3 w-full rounded space-x-3 text-lg">
              Login
          </button>
      </div>
      <div class="flex items-center space-x-3">
          <p>Not yet registered? </p>
          <a href="/signup">
              <p class="color-light">Sign Up</p>
          </a>
      </div>
  </div>
  
  </form>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
  $(document).ready(function () {
    $('#login_form').submit(function (event) {
      event.preventDefault(); // Prevent the default form submission
      // Serialize the form data
      const formData = $(this).serialize();

      // Send an AJAX request to the server
      $.ajax({
        type: 'POST',
        url: '/login',
        data: formData,
        success: function (response) {
          // Display the success message
          $('#login_form')[0].reset();
          Swal.fire(response)

          // Optionally, reset the form

        },
        error: function (error) {
          Swal.fire(error.responseText)
        },
      });
    });
  })
  </script>
  <%-include('partials/footer')%>